@media only screen and (max-width: 1024px) {
    .row-1 {
      flex-direction: column;
      align-items: center;
    }
    .row-1-2 {
      margin-top: 0px;
    }
    .row-wrapper {
      display: flex;
    }
    
    .block-1-1:not(:first-child) {
      margin-top: 20px;
    }
    .part1{
        flex-direction: column;
    }
    .picture-div{
        margin-top: 20px;
    }

    }
    @media only screen and (max-width: 768px){


        .navigation{
            display: none;
        }


    }
    @media only screen and (max-width: 480px){


         .row-1 {
            flex-direction: column;
         }
         .part1{
            flex-direction: column;
            align-items: center;
        }


    }


    
  