body {
    background-color: #eceef0;
}
.lists {
    display: flex;
    justify-content: space-between;
}
.header-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.navigation {
    width: 580px;
    margin-top: 87px;
}
.logo-img {
    padding-top: 67px;
}
.li-list {
    font-size: 20px;
    color: #3D37F1;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    /* hover */
    transition: all 0.3s;
}

/* block 1 */
.button1 {
    width: 263px;
    height: 76px;
    background-color: #3D37F1;
    border-radius: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 83px;
/* hover sett */
    transition: all 1s;

}
.block-1 {
    margin-left: 132px;
    margin-top: 285px;
}
.title1 {
    font-size: 78px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    width: 600px;
}
.txt-1 {
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 40px;
}
.waveme {
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 25px;
}
/* pic block */
.part1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.surati1 {
    height: 400px
}
/*  section 2 / center div */
.center-div {
    margin: 50px auto;
    width: 715px;
    text-align: center;
}
.title-span {
    font-size: 20px;
    font-family: 'Lato';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    color: #3D37F1;
}
.title2 {
    font-size: 40px;
    font-family: 'Lato';
    font-weight: 400;
    color: #5A5454;
    margin-top: 17px;
}
.txt-2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #747474;
    margin-top: 20px;
    width: 710px;
}
/* block-1-1 */
.row-1 {
    width: 1169px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.block-1-1 {
    width: 370px;
    height: 451px;
    background: #9c9846;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}
.readmore {
    width: 131px;
    height: 45px;
    background: white;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 11px;
    /* hover */
    transition: all 0.5s
}
/* sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss */
.readspan {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.surati-1-1 {
    padding-top: 88px;

}
.block-title1 {
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    padding-top: 57px;
}
.block-txt1 {
    width: 328px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    margin-top: 13px;
}
/* block 1*/
.block-1-1{
    background: rgb(251,186,119);
    background: linear-gradient(0deg, rgba(251,186,119,1) 0%, rgba(251,186,119,0.1940126392353817) 100%);
}

/* block2 */
.block-1-2 {
    background: rgb(65,234,227);
    background: linear-gradient(0deg, rgba(65,234,227,1) 0%, rgba(65,234,227,0.19681375968356096) 100%);
}
/*  block3 */
.block-1-1-3 {
    background: rgb(105,82,159);
    background: linear-gradient(356deg, rgba(105,82,159,0.3648809865743172) 0%, rgba(105,82,159,1) 44%, rgba(105,82,159,1) 62%, rgba(105,82,159,1) 100%);
    
}
/* ROW 2 */
.row-1-2 {
    margin-top: 20px;
}
.block-2-1 {
    background: rgb(67,134,210);
    background: linear-gradient(0deg, rgba(67,134,210,0.21922272326899506) 0%, rgba(67,134,210,1) 23%);

   
}
.block-2-2 {
    background: rgb(165,162,246);
    background: linear-gradient(356deg, rgba(165,162,246,0.4881302862942052) 0%, rgba(165,162,246,1) 100%);
}
.block-2-3 {
    background: rgb(255,128,136);
    background: linear-gradient(0deg, rgba(255,128,136,0.42370451598608194) 0%, rgba(255,128,136,1) 100%);
}

/* Hover styles */
.button1:hover {
    background-color: red;
}
.readmore:hover {
    background-color: #747474;
}
.li-list:hover {
    background-color: greenyellow;
}




